<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>เมนู</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
        <ion-item lines="none" routerLink="/restaurant/tabs/find">
            <ion-icon name="restaurant-outline" slot="start"></ion-icon>
            <ion-label>ร้านอาหาร</ion-label>
        </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
        <ion-item routerLink="/reservation">
          <ion-icon name="checkbox-outline" slot="start"></ion-icon>
          <ion-label>การสำรองโต๊ะของฉัน</ion-label>
        </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
        <ion-item lines="none" (click)="onLogout()" button>
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>ออกจากระบบ</ion-label>
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
