<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>ร้านอาหาร</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-card>
          <ion-card-header>
            
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
          <ion-img src="https://pronto-core-cdn.prontomarketing.com/2/wp-content/uploads/sites/2404/media/events/2014/happy-title-2.jpg"></ion-img>
          <ion-card-content>
            content
          </ion-card-content>
          <div class="ion-padding">
            <ion-button fill="clear" routerLink="/restaurant/tabs/find/1">เพิ่มเติม</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item routerLink="/restaurant/tabs/find/2" detail>
            <ion-thumbnail slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label>Pokémon Yellow</ion-label>
          </ion-item>
          <ion-item routerLink="/restaurant/tabs/find/3" detail>
            <ion-thumbnail slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-thumbnail>
            <ion-label>Mega Man X</ion-label>
          </ion-item>
          
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid> 
  
</ion-content>
